@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";

}
<style type="text/css">
    .paddingBg {
        padding: 5px;
    }

</style>

<div class="bg-info paddingBg">
    <h2>Dashboard</h2>
</div>
<div class="">
    dashboard content
</div>